<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/stylesheet/style.css">
        <title>
            ciberseguridad
        </title>
    </head>

    <body class = "body">
        <nav>
            <ul class="menu-horizontal">
                <li><a href="home.html">Inicio</a>
                    <ul>
                        <li><a href="todo.html">Informacion Relevante!</a></li>
                    </ul>
                </li>
                <li><a href="ciberseguridad.html">Ciberseguridad</a></li>
                <li><a href="robotica.html.html">Robotica</a></li>
                <li><a href="metaverso.html">Metaverso</a></li>
                <li><button type="button" class="btnsignup" onclick="location.href='/signup'">Registrarse</button>  </li>
                <li><button type="button" class="btnsignup" onclick="location.href='/login'">Iniciar Sesion</button>  </li>
            </ul>
        </nav>
        <div class="container">
            <div class="form">
                <form> 
                    <section>    
                        <h1>
                            Temas actuales de ciberseguridad
                        </h1>

                        <p>
                            Hay varios temas actuales en el campo de la ciberseguridad que son importantes para conocer.
                            Algunas de las principales tendencias de ciberseguridad para 2023 incluyen la seguridad en el 
                            Internet de las cosas y en la nube, la ciberseguridad desde el hogar como una prioridad para las empresas,
                            los atacantes internacionales patrocinados por el Estado que se dirigen tanto a las empresas como a los
                            gobiernos, y el papel cada vez más destacado de la inteligencia artificial (IA) en la ciberseguridad
                        </p>
                        <p>
                            Además, hay varias amenazas a la ciberseguridad que están creciendo como consecuencia de la transformación 
                            digital. Durante la pandemia de Covid-19, las empresas tuvieron que adaptarse rápidamente al 
                            trabajo en remoto, lo que provocó un aumento de los ciberataques. Algunas de las amenazas más 
                            frecuentes a la ciberseguridad en 2022 incluyen ransomware, malware y ataques de ingeniería social
                            como phishing y smishing 
                        </p>
                    </section>
                    
                    <section>
                        <table id="ciberseguridad">
                            <tr>
                                <th colspan="2">Ciberseguridad</th>
                            </tr>
                            <tr>
                                <th>Ventajas</th>
                                <th>Desventajas</th>
                            </tr>
                            <tr>
                                <td>Protección de datos y equipos</td>
                                <td>No garantiza una protección del 100% contra ciberataques</td>
                            </tr>
                            <tr>
                                <td>Mejora la imagen interna y externa de la empresa</td>
                                <td>Los equipos desactualizados pueden tener problemas con los antivirus más sofisticados</td>
                            </tr>
                            <tr>
                                <td>Reduce el riesgo de robo de información importante</td>
                                <td>Puede requerir la contratación de personal especializado</td>
                            </tr>
                        </table>
                    </section>                  
                </form> 
            </div>

            <div class="right-sidebar">
                <p>
                    <a href="https://www.abc.es/tecnologia/informatica/soluciones/desvelan-puestos-trabajo-inteligencia-artificial-poder-destruir-20230525010019-nt.html?ref=https%3A%2F%2Fwww.abc.es%2Ftecnologia%2F">
                        <img src="../public/images/desvelan.jpg"  class="img">                        
                        <span style="float: left; font-family: 'Times New Roman', Times, serif;">
                            Revelan los puestos de trabajo que la inteligencia artificial no va a poder destruir: 
                            ¿está tu oficio en la lista?
                        </span>                    
                    </a>                                      
                </p>
                <br>
                <br>
                <h2>
                    <a href="https://gestion.pe/tecnologia/informacion-personal-en-redes-sociales-como-nos-exponemos-a-los-ciberataques-fluid-attack-noticia/">
                        Información personal en redes sociales: ¿cómo nos exponemos a los ciberataques?
                    </a>
                </h2> 
            </div>
        </div>
    </body>
</html>





    