<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/stylesheet/style.css">
        <title>Información sobre el Metaverso</title>
    </head>
    <body class = "body">
        <NAV>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars">Menu</i>
            </label>
                <ul>
                    <li><a href="home.html">Inicio</a>
                        <ul>
                            <li><a href="todo.html">Informacion Relevante!</a></li>
                        </ul>
                    </li>
                    <li><a href="ciberseguridad.html">Ciberseguridad</a></li>
                    <li><a href="robotica.html.html">Robotica</a></li>
                    <li><a href="metaverso.html">Metaverso</a></li>
                    <li><button type="button" class="btnsignup" onclick="location.href='/signup'">Registrarse</button>  </li>
                    <li><button type="button" class="btnsignup" onclick="location.href='/login'">Iniciar Sesion</button>  </li>
                </ul>
        </NAV>
        
        <div class="container">
            <div class="form">
                <form> 
                    <h2>Información sobre el Metaverso</h2>
                    <p>El Metaverso es un mundo virtual que fusiona la realidad física con la virtualidad digital. 
                        Se basa en la convergencia de tecnologías como la realidad virtual (RV) y la realidad 
                        aumentada (RA), que permiten interacciones multisensoriales con entornos virtuales, 
                        objetos digitales y personas.
                    </p>

                    <aside>
                        <p>
                            Escucha el audio <b>Relajate!!!</b>Mientras aprendes del Maravilloso mundo de la tecnologia!!!                        
                            <br>
                            <audio controls>
                            <source src="../public/music/retro-funk-energetic-background-music-136122.mp3" type="audio/mp3">
                        </audio>
                    </p>
                    </aside>

                    <aside>
                        <h2>
                            Características del metaverso
                        </h2>

                        <P>
                            <OL type="A" >
                                <LI>
                                    Interactividad: El usuario es capaz de comunicarse con el resto de usuarios, así como de interactuar con el Metaverso. Esto implica además, que sus comportamientos pueden ejercer influencia sobre objetos u otros usuarios.
                                </LI>
                                <LI>
                                    Corporeidad: El entorno al que se accede, está sometido a ciertas leyes de la física, y tiene recursos limitados. Además, dicho acceso se hace en primera persona.                                    
                                </LI>
                                <LI>
                                    Persistencia: Aunque no esté ningún usuario conectado al metaverso, el sistema sigue funcionando y no se para. Además, las posiciones en las que se encontraban los usuarios al cerrar sus sesiones serán guardadas, para volver a cargarlos en el mismo punto cuando vuelvan a conectarse.
                                </LI>
                            </OL>

                        </P>
                    </aside>

                    <aside>                        
                        <h3>
                            Sorprendete desde todos los angulos, el maravilloso mundo del Metaverso!
                        </h3>
                        <picture>
                            <source media="(min-width:650px)" srcset="../public/images/metaverse1.jpg">
                            <source media="(min-width:465px)" srcset="../public/images/metaverse2.jpg">
                            <img src="../public/images/metaverse.jpg">
                        </picture>                        
                    </aside>
                    
                    <aside>
                        <p style="font-family: cursive;">
                            El mundo maravillo de la tecnologia, innova a diario, 
                            te recomiendo apoyarte en videos, enlaces que aporten a una tecnologia productiva, no destructiva!
                        </p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uqc7dLsFKRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



                    </aside>


                    <p>
                        Para obtener más información sobre el Metaverso, puedes visitar los siguientes enlaces:
                    </p> 
                    
                   

                    <ul>
                        <li><a href="https://www.xataka.com/basics/que-metaverso-que-posibilidades-ofrece-cuando-sera-real">Qué es el Metaverso, qué posibilidades ofrece y cuándo será real</a></li>
                        <li><a href="https://es.wikipedia.org/wiki/Metaverso">Metaverso en Wikipedia</a></li>
                    </ul>


                </form> 
            </div>

        </div>
    </body>
</html>