<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/stylesheet/style.css">
        <title>
            El mundo de la Robotica
        </title>
    </head>

    <body class = "body">
        <NAV>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars">Menu</i>
            </label>
                <ul>
                    <li><a href="home.html">Inicio</a>
                        <ul>
                            <li><a href="todo.html">Informacion Relevante!</a></li>
                        </ul>
                    </li>
                    <li><a href="ciberseguridad.html">Ciberseguridad</a></li>
                    <li><a href="robotica.html.html">Robotica</a></li>
                    <li><a href="metaverso.html">Metaverso</a></li>
                    <li><button type="button" class="btnsignup" onclick="location.href='/signup'">Registrarse</button>  </li>
                    <li><button type="button" class="btnsignup" onclick="location.href='/login'">Iniciar Sesion</button>  </li>
                </ul>
        </NAV>
        
        <div class="container">
            <div class="form">
                <form> 
                    <h2>
                        Información sobre robótica
                    </h2>
                    <p>
                        La robótica es una disciplina que se ocupa del diseño, operación, manufacturación, 
                        estudio y aplicación de autómatas o robots. Para ello, combina la ingeniería mecánica,
                        ingeniería eléctrica, ingeniería electrónica, ingeniería biomédica y las ciencias de la
                        computación, así como otras disciplinas.
                    </p>
                    <p>
                        La robótica representa la cumbre en la trayectoria de desarrollo tecnológico, 
                        es decir, del diseño de herramientas. Su cometido es construir una herramienta que 
                        pueda desempeñar muchas de las labores que actualmente desempeña el ser humano, 
                        de manera más eficiente y rápida, o en condiciones y ambientes que al ser humano 
                        le serían inaccesibles.
                    </p>
                    <p>
                        Para obtener más información sobre robótica, 
                        puedes visitar los siguientes enlaces:
                    </p>

                    <img src="../public/images/robotica-asimo-e1569116490998.jpg" alt="Mano robótica" width="220" height="165">
               
                    <p>Los robots son ampliamente utilizados en la industria para automatizar acciones 
                        repetitivas a una velocidad y volumen que sobrepasan la capacidad humana. 
                        Estos robots son multifuncionales y pueden ser programados para realizar 
                        diferentes tareas de manera rápida, precisa y repetitiva. Además, 
                        aumentan la productividad y la rentabilidad de un proceso, 
                        a la vez que eliminan actividades repetitivas que generan lesiones 
                        a los trabajadores.
                    </p>

                    <p>
                        Hay varios tipos de robots utilizados en la industria, incluyendo robots móviles 
                        autónomos (AMR), vehículos de guiado automático (AGV), robots articulados, humanoides, 
                        cobots y híbridos. Los robots se utilizan para promover la eficiencia, 
                        acelerar los procesos, mejorar la seguridad y las experiencias en muchos sectores.
                    </p>

                    <ul>
                        <li><a href="https://concepto.de/robotica/">Concepto de Robótica</a></li>
                        <li><a href="https://es.wikipedia.org/wiki/Rob%C3%B3tica">Robótica en Wikipedia</a></li>
                    </ul>
                     </form> 
            </div>

        </div>
    </body>
</html>